.body {
    font-family: Arial, sans-serif;
    background-color: #f2c6dd;
  }
  .nav-link{
    color: aliceblue;
  }
  .jumbotron {
    height: 600px;
    background-image: url('../img/OIG1.jpeg');
    background-size: cover;
    color: #df8db7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 100px 0;
    margin-bottom: 0;
  }
  .jumbotron h1 {
    font-size: 4rem;
    font-weight: 20px;
  }
  .jumbotron .btn{
    background-color: palevioletred;
    border-color: black;
  }
  .jumbotron .btn:hover{
    background-color: #ce125d;
  }
  .card {
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    
  }
  .card-text{
    font-size: 1.1rem;
  }
  .card:hover {
    transform: scale(1.05);
  }
  @media (max-width: 768px) {
    .jumbotron {
      padding: 50px 0;
    }
  }
  footer{
    bottom: 0px;
  }